{% extends "base.html" %} 
{% block content %}
{% load cartFilter %}
<div class="container my-5">
  <div class="border card-body mx-auto" style="width: 80%;">
    
    <div class='d-flex justify-content-between'>
        <div>
            <p class="fs-1 ">Your Cart</p>
        </div>
        <div class='mt-4'>
            <button type="button" class=" fs-6 float-end btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                CheckOut
              </button>
            <p class="fs-5 float-end"> Grand Total - {{books|grandTotal:request.session.cart}} | &nbsp;</p>
        </div>
    </div>



    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select your shipping address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <form action="/place-order/" method='POST'>
                {% csrf_token %}
                {% for address in addresses %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="selected_address" value="{{ address.id }}" 
                            id="flexRadioDefault{{ address.id }}"
                            {% if selected_address == address.id %} checked {% endif %}>
                        <label class="form-check-label" for="flexRadioDefault{{ address.id }}">
                            {{ address.name }}<br> 
                            {{ address.address }}<br> 
                            {{ address.city }}<br> 
                            {{ address.phone }}
                        </label>
                    </div>
                {% endfor %}

                <button type="submit" class="float-end btn btn-success">Place Order</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href='/profile/#address' class="btn btn-primary">Add Shipping Adress</a>
        </div>
      </div>
    </div>
  </div>

  

<!-- Modal End here -->

    <hr>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Book Image</th>
            <th scope="col">Title </th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
         {% for book in books %}

         <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><img src="{{book.book_image.url}}" class="card-img-top" style="width:100px" alt="..." /></td>
            <td>{{book.title}}</td>
            <td>{{book.price|price_symbol}}</td>
            <td>
                <div class='d-flex'>
                    <div class='me-2'>
                        <form action="/cart/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="increment" value="{{book.id}}">
                            <input type="submit" value="+" class="fs-3 btn p-0 border-0 text-decoration-none">
                        </form>
                    </div>
                    <div>
                         <!-- Cart Quantity -->
                        <span class="mt-3 badge bg-info text-white">{{book|cart_quantity:request.session.cart}}</span>
                    </div>
                    <div class='ms-2'>
                        <form action="/cart/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="decrement" value="{{book.id}}">
                            <input type="submit" value="-" class="fs-3 btn p-0 border-0 text-decoration-none">
                        </form>
                    </div>
                </div>

               
                
            </td>
            <td>{{book.id|get_no_of_item:request.session.cart|total_price:book.price|price_symbol}}</td>

          </tr>
         {% endfor %}
          
        </tbody>
    </table>
    
   
    <hr>
  </div>
</div>
{% endblock %}
