{% extends "base.html" %}

{% block content %}
{% if error_message %}
              <div class="alert alert-danger" role="alert">
                {{error_message}}
              </div>
          {% endif %}
<div class="container my-4">
    <div class="card mx-auto shadow p-3 mb-5 bg-body rounded">
          
        <p class="fs-1 mx-auto">Your Registered Information</p>
        <div class="card-body border mx-2 mb-2">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">{{user.name}}</h5>
                <p class="card-text">Email - {{user.email}}</p>
                <p class="card-text">Phone - {{user.phone}}</p>
                <a href="/edit-profile/" class="btn btn-primary">Edit Info</a>
                <a href="#" class="btn btn-danger">Delete Account</a>
          </div>
          
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Shipping Address</h5>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/profile/" method='POST'>
          {% csrf_token %}
          
          <div class="mb-1">
            <label for="address" class="form-label">Add Adress</label>
            <input type="text" class="form-control" value="" name='address' id="address" placeholder='enter shipping address....' Required/>
          </div>
          <div class="mb-1">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="number" class="form-control" value="" name='phone' id="phone" placeholder='enter phone number....' Required />
          </div>
          <input type="submit" value='Add Adrress' class=' mt-3 btn btn-success' id="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal ends here -->

        <hr>
    <div>
      
      <div class="d-flex justify-content-between">
        <div>
          <p class='fs-2'>Shipping Addresses</p>
        </div>
        <div>
          <button type="button" class="btn btn-success text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Shipping Adress</button>
        </div>
      </div>
      <div class='d-flex'>
        {% for address in addresses %}
          <div class="card me-2 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{forloop.counter}}. Address</h5>
              <p class="card-text">{{address.address}}</p>
              <p class="card-text">{{address.phone}}</p>
              <a href="#" class="btn btn-success">Edit</a>
              <a href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <div>
          <p class="fs-2 mt-5">Your Uploaded Books</p>
        </div>
        <div>
          <a href="{% url 'add-book'%}" class="btn btn-success mt-5">Add Book</a>
        </div>
      </div>
      <table class="table">
          {% if not books %}
          <hr>
          <p class='text-danger'>Books not found !!</p>
          {% else %}
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Book Image</th>
              <th scope="col">Writer</th>
              <th scope="col">Title </th>
              <th scope="col">Price</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
           
            {% for book in books %}
  
           <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><img src="{{book.book_image.url}}" class="card-img-top" style="width:100px" alt="..." /></td>
              <td>{{book.title}}</td>
              <td>{{book.writer}}</td>
              <td>{{book.price}}</td>
              <td>{{book.description}}</td>
              <td>{{book.category}}</td>
              <td class='d-flex'>
                  <a href="/edit-book/{{book.id}}"class='btn btn-primary me-3'>Edit</a>
                  <a href=""class='btn btn-danger'>Delete</a>
              </td>
            </tr>
            {% endfor %}
          {% endif %}
            
          </tbody>
      </table>
  </div>
</div>
{% endblock %}