{% extends "base.html" %} 
{% block content %}
<div class="container mx-auto">
  <div class="row justify-content-center">
    <div class="col-4 bg-dark text-white border border-1 my-5">
      <h1>Create Account</h1>
      <div class="mx-auto px-2 py-3">
        <form action='/signup/' method='POST'>
          {% csrf_token %}
          {% if error_message %}
          <div class="alert alert-danger" role="alert">
            {{error_message}}
          </div>
          {% endif %}
          <div class="mb-1">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" value="{{values.name}}" name='name' id="name" />
          </div>
          <div class="mb-1">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" value="{{values.email}}"  name='email' id="email" />
          </div>
          <div class="mb-1">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" value="{{values.phone}}" name='phone' id="phone" />
          </div>
          <div class="mb-1">
            <label for="usertype" class="form-label">Account Type</label>
            <select class="form-select" value="{{values.account_type}}" name='account_type' aria-label="Default select example">
              <option selected>Select Type </option>
              <option value="SELLER">Seller</option>
              <option value="BUYER">Buyer</option>
            </select>
          </div>
          <div class="mb-1">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name='password' id="password" />
          </div>
          <div class="mb-1">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name='cpassword' id="cpassword" />
          </div>
          
          <button type="submit" class="btn mt-1 btn-primary">Create Account</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
